<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Kryzalid Test</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Nouvelles</h1>

            {# Change to dropdown filter #}
            <div class="category-filter">
                <select id="categorySelect" class="filter-select">
                    <option value="all">Toutes les catégories</option>
                    {% for categoryId in categoryIds %}
                        <option value="{{ categoryId }}">Catégorie {{ categoryId }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="news-container">
                {% for post in posts %}
                    {% include 'partials/news-card.twig' with { post: post } %}
                {% endfor %}
            </div>
        </div>

        {% include 'partials/footer.twig' %}

        <script src="./js/script.js"></script>
    </body>
</html>