<footer>
    <div class="footer-left-content">
        <h1>Restez à l'affût</h1>
        <button>Abonnez-vous à l'infolettre</button>
        <div class="socials">
            <p>Linkedin</p>
            <p>Facebook</p>
            <p>Youtube</p>
            <p>Rss</p>
        </div>
    </div>
    <div class="footer-right-content">
        <p>Dossiers thématiques</p>
        <p>Relais</p>
        <p>Pratiques inspirantes</p>
        <p>Activités à venir</p>
        <p>Veille</p>
        <p>Nouvelle</p>
        <p>Archives</p>
        <p>Médias</p>
    </div>
</footer>
